body
{
    background: linear-gradient(yellow, orange, darkorange);
    font-family: Calibri;
    text-align: center;
}

.copyright_footer
{
    bottom: 0;
    text-align: center;
    font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
}

h5
{
    font-family: Garamond;
    font-size: 20px;
}

li
{
    font-family: Footlight MT;
    font-size: 36px;
    font-weight: bold;
}